// Modal Windows

// Modal ( General Class )

.modal,
.new-group {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.875rem;
    z-index: 1000;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    
    ::-webkit-scrollbar-track {
        background-color: none;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: none;
        border: none;
        border-radius: 0;
    }

    &__wrapper {
        max-width: 31.25rem;
        width: 100%;
        max-height: 100%;
        height: auto;
        overflow-y: auto;
        background: $white;
        border-radius: 0.75rem;
        padding: 2.5rem;
        box-shadow: 0 8px 15px 0 rgba(115, 146, 193, 0.05);
        position: relative;

        ::-webkit-scrollbar {
            height: 1rem;
        }
        
        ::-webkit-scrollbar-track {
            background-color: $white;
        }
        
        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 100px $primaryColor;
            border: 2px solid $white;
            border-radius: 20px;
        }
    }

    &__img {
        width: 4rem;
    }

    &__text {
        font-weight: $medium;
        font-size: 1.12rem;
        line-height: 178%;

        &_orange {
            color: $primaryColor;
        }
    }

    &__orange-btn,
    &__gray-btn {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 125%;
        border-radius: 0.75rem;
        padding: 1rem 1.5rem;
        color: $white;

        &:disabled {
            opacity: 0.3;
        }
    }

    &__orange-btn {
        background: $primaryColor;
    }

    &__gray-btn {
        background: $gray1;
    }

    &__skip-btn {
        position: absolute;
        top: 2.75rem;
        right: 2.75rem;

        svg {
            transition: .5s;
        }

        &:hover {
            opacity: 1;

            svg {
                fill: $primaryColor;
            }
        }
    }

    &__title {
        font-weight: $bold;
        font-size: 1.5rem;
        line-height: 130%;
        margin-bottom: 1.75rem;
        padding-right: 1.5rem;

        &_min-margin {
            margin-bottom: 1rem;
        }

        &_big {
            font-size: 2rem;
        }
    }

    &__subtitle {
        margin-bottom: 1.75rem;
        font-weight: $bold;
        font-size: 1.25rem;
        line-height: 130%;
        color: $gray3;
    }

    &__subtitle-2 {
        font-weight: $medium;
        line-height: 125%;

        &_orange {
            color: $primaryColor;
            font-weight: $bold;
        }
    }

    &__inputs-wrapper {
        display: grid;
        gap: 1.75rem;
        margin-bottom: 1.75rem;

        &_two-column {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__input-wrapper {
        position: relative;

        &_company {

            &:hover:not(.click-pop-up) > .search-element {
                opacity: 1;
                visibility: visible;
            }

            .input-group {

                &__input {
                    height: auto;
                    min-height: 3.25rem;
                    max-height: 5rem;
                }
            }
        }

        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        
        ::-webkit-scrollbar-track {
            background-color: none;
        }
        
        ::-webkit-scrollbar-thumb {
            box-shadow: none;
            border: none;
            border-radius: 0;
        }
    }

    .input {
        width: 100%;
        max-width: 100%;
        transition: .5s;

        &::placeholder {
            color: $gray5;
        }

        &:hover,
        &:focus {
            outline: 1px solid $primaryColor;
        }
    }

    &__company-input {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3125rem;
        overflow: auto;
        // height: 5rem;
    }

    &__company {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.25rem;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        background: $gray3;
        color: $white;
    }

    &__company-text {
        white-space: nowrap;
        font-weight: $medium;
        font-size: 0.88rem;
        line-height: 100%;
    }

    &__company-delete {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.625rem;
    }

    &__message {
        width: calc(100% - 1rem);
        border-radius: 0.75rem;
        padding: 0.8125rem 0.5rem;
        background: $red2;
        margin: 0 0.5rem;
        display: flex;
        justify-content: center;
        gap: 0.625rem;
        margin-bottom: 1.75rem;
    }

    &__message-text {
        font-size: 0.88rem;
        line-height: 171%;
        text-align: center;
        color: $red1;
    }

    &__section-title {
        font-weight: $bold;
        font-size: 1.25rem;
        line-height: 130%;
        margin-bottom: 1.25rem;
    }

    .input-group {

        &_date {
            max-width: 17.5rem;
        }
    }

    &__test-send-btn,
    &__import-btn {
        @include btn(none, $primaryColor);
        outline: 2px solid $primaryColor;
        gap: 0.5rem;
        line-height: 125%;
        font-size: 1rem;
        padding: 1rem 1.25rem;
    }

    &__import-btn {
        background: $primaryColor;
        color: $white;
    }

    &__send-btn-wrapper,
    &__import-btn-wrapper {
        display: flex;
        align-items: flex-end;
    }

    &__edit-tab-section {
        margin-top: 1.75rem;
    }

    &__edit-tab-buttons {
        display: flex;
    }

    &__edit-tab-btn {
        padding: 0.5rem 1.25rem;
        font-weight: $bold;
        font-size: 0.94rem;
        line-height: 130%;
        color: $gray5;

        &_active {
            border-left: 1px solid $gray2;
            border-right: 1px solid $gray2;
            border-top: 1px solid $gray2;
            border-radius: 0.75rem 0.75rem 0 0;
            color: $gray1;
            position: relative;

            &::before {
                content: "";
                height: 1px;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background: $white;
                z-index: 1000;
            }
        }
    }

    &__w-wrapper {
        width: 100%;
        min-height: 25.81rem;
        height: 25.81rem;
        display: flex;
        flex-direction: column;
        background: $white;
        border: 1px solid $gray2;
        border-radius: 0 0.75rem 0.75rem 0.75rem;
        padding: 0.5rem;
        overflow: hidden;

        trix-editor {
            height: 100%;
        }
    }

    &__edit-textarea {
        width: 100%;
        min-height: 25.81rem;
        padding: 0.875rem 1.25rem;
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;
        border: 1px solid $gray2;
        border-radius: 0.75rem;
        border-top-left-radius: 0;
        resize: none;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 0.5rem;
    }

    &__w-wrapper-2 {
        margin: 1.75rem 0;
    }

    &__data-input-wrapper {
        position: relative;
        width: 100%;

        .input-group {
            width: 100%;
            max-width: 100%;
        }
    }

    &__data-input-wrapper:hover .calendare {
        opacity: 1;
        visibility: visible;
    }
}

.new-group {

    &__wrapper {
        max-width: 72.56rem;
        width: 100%;
    }

    &__name {
        margin-bottom: 1.75rem;

        .input {
            max-width: 27.88rem;
        }
    }

    &__buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 0.75rem;
        margin-top: 1.75rem;
    }
}

// Confirm Delete

.modal-confirm-delete,
.modal-confirm,
.modal-input {

    .modal__wrapper {
        max-width: 31.4375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__img {
        margin-bottom: 1.6875rem;
    }

    &__buttons-wrapper {
        margin-top: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    &__input {
        margin-top: 1.75rem;
        outline: 1px solid $gray2;
        border-radius: 0.75rem;
        padding: 0.88rem 1.25rem;
        transition: .5s;

        &::placeholder {
            color: $gray5;
        }

        &:hover,
        &:focus {
            outline: 1px solid $primaryColor;
        }

        &_date {
            width: 100%;
            appearance: none;

            &:disabled {
                background: $white;
            }
        }

        &_with-btn {
            padding-right: 3.5rem;
        }
    }
}

// Modal Input

.modal-input {

    .modal__wrapper {
        max-width: 32.44rem;
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    .modal__text {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 125%;
        margin-bottom: 1.75rem;
    }

    .input-group {
        width: 100%;
    }

    &__buttons-wrapper {
        gap: 0.5rem;
    }

    &__input-section {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 1.75rem;
    }

    &__input-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__mini-input {
        height: auto;
        text-align: center;
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;
        padding: 0.5rem;
        max-width: 4.5rem !important;
        outline: 1px solid $gray2;
        border-radius: 0.75rem;
        transition: .5s;
    }
}

// Success

.success-modal {

    .modal__wrapper {
        max-width: 31.4375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__img {
        margin-bottom: 1.6875rem;
    }
}

// Active Directory

.active-directory {

    &__wrapper {
        max-width: 62.88rem;
    }
}

// Upload

.upload {

    &__wrapper {
        max-width: 41.25rem;
    }

    &__label {
        margin-bottom: 1.75rem;
    }

    &__buttons-wrapper {
        margin-top: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    .input-group {
        margin-bottom: 1.25rem;
    }

    &_narrow {

        .modal__wrapper {
            max-width: 36.25rem;
            max-height: 100%;
            height: 35.69rem;
        }

        .upload-field {

            &__mini-title {
                font-weight: $bold;
                font-size: 1rem;
                line-height: 125%;
            }

            &__label {
                gap: 1.25rem;

                &_uploaded {
                    flex-direction: row;
                    gap: 0.5rem;
                }

                &_edit {
                    padding: 0;
                    border: none;
                    outline: none;
                }
            }

            &__row {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    &_edit {
        
        .upload-field {

            &:hover {
                opacity: 1;
            }

            &__label {

                &_uploaded {
                    padding: 0;
                    border: none;
                    outline: none;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}

// Statistic Filter

.statistic-filter {

    .modal__wrapper {
        max-width: 64.31rem;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input-wrapper:not(.click-pop-up):hover .calendare {
        opacity: 1;
        visibility: visible;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;

    &:hover {

        .i-drop-down {
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        min-height: 1rem;
        font-weight: $medium;
        line-height: 75%;
        padding-left: 1.25rem;

        &_orange {
            font-weight: $medium;
            font-size: 1.12rem;
            line-height: 67%;
            color: $red1;
        }
    }

    &__title-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.3125rem;
    }

    &__forgot {
        position: absolute;
        top: -0.25rem;
        right: 1.25rem;
        font-weight: $medium;
        font-size: 0.81rem;
        line-height: 154%;

        &_link {
            color: $primaryColor;
            text-decoration: underline;
        }
    }

    &__input,
    &__drop-down-btn,
    &__count,
    &__textarea {
        outline: 1px solid $gray2;
        border-radius: 0.75rem;
        padding: 0.88rem 1.25rem;
        resize: none;
        font-size: 1rem;
        font-weight: $medium;
        line-height: 150%;
        transition: .5s;

        &::placeholder {
            color: $gray5;
        }

        &:hover,
        &:focus {
            outline: 1px solid $primaryColor;
        }

        &_date {
            width: 100%;
            appearance: none;
            cursor: pointer;

            &:disabled {
                background: $white;
            }
        }

        &_with-btn {
            padding-right: 3.5rem;
        }
    }

    &__drop-down-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;
        color: $gray5;

        &_changed {
            color: $gray1;
        }
    }

    &__input-row {
        display: flex;
        gap: 1.75rem;
    }

    &__orange-btn {
        @include btn($primaryColor, $white);
        gap: 0.5rem;
        line-height: 125%;
        padding: 1rem 2.25rem;
        font-size: 1rem;
    }

    &__wrapper {
        position: relative;

        .notify-wrapper {
            position: absolute;
            right: 1.25rem;
            top: 50%;
            transform: translate(0, -50%);

            .input-group__btn {
                position: static;
                transform: translate(0, 0);
            }
        }
    }

    &__toggle-pass,
    &__btn,
    &__icon {
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translate(0, -50%);
    }

    &__inputs {
        max-width: 23.69rem;
        width: 100%;
        display: flex;
        gap: 1.25rem;

        .input {
            width: 100%;
            max-width: 100%;
        }
    }

    &__count {
        width: calc(50% - 0.625rem);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.125rem;
    }

    &__count-text {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;
        color: $gray5;
    }

    &__count-input {
        max-width: 3rem;
        text-align: center;
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;
    }

    &__textarea {
        font-size: 1rem;
        min-height: 17.62rem;
    }
}

.search-element {
    position: absolute;
    top: calc(100% + 1rem);
    background: $white;
    border: 1px solid $gray2;
    border-radius: 0.75rem;
    padding: 0.88rem 0.5rem 0.88rem 1.25rem;
    z-index: 1;
    max-width: 17.5rem;
    width: 100%;
    // max-height: 100%;
    height: 13.25rem;
    opacity: 0;
    visibility: hidden;
    z-index: 1001;
    transition: .5s;

    &__input {
        border: 1px solid $gray2;
        border-radius: 0.75rem;
        padding: 0.88rem 1.25rem;
        height: 2.5rem;
        margin-bottom: 1rem;
        max-width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__btn,
    &__item_not-found {
        font-size: 1rem;
        font-weight: $medium;
        line-height: 150%;
    }
}

.notify-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.click-pop-up):hover {

        .notify {
            visibility: visible;
            opacity: 1;
        }
    }

    &.click-pop-up .notify {
        visibility: visible;
        opacity: 1;
    }
}

.notify-btn {
    min-width: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.i-drop-down {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    border: 1px solid $gray2;
    border-radius: 0.75rem;
    padding: 0.88rem 0.5rem 0.88rem 1.25rem;
    box-shadow: 0 8px 15px 0 rgba(115, 146, 193, 0.05);
    z-index: 2;
    background: $white;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__btn {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 150%;

        &:hover {
            opacity: 1;
            color: $primaryColor;
        }
    }
}

.notify {
    position: absolute;
    border-radius: 0.75rem;
    padding: 1.25rem;
    max-width: 22.62rem;
    width: 22.62rem;
    z-index: 1000;
    // min-height: 3.25rem;
    box-shadow: 0 8px 15px 0 rgba(115, 146, 193, 0.05);
    background: $white;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    &::before {
        content: "";
        width: 3.5rem;
        height: 0.75rem;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background-image: url("../images/notify-pseudo.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &_company {
        bottom: calc(100% + 1rem);
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }

    &_table {
        max-width: 13.81rem;
        width: 13.81rem;
        bottom: calc(100% + 1rem);
        right: -2rem;

        &::before {
            top: 100%;
            left: auto;
            right: 1rem;
            transform: translate(0, 0);
        }
    }

    // &_left {
    //     max-width: 21.88rem;
    //     width: 21.88rem;
    //     bottom: auto;
    //     right: -1.25rem;
    //     top: 50%;
    //     transform: translate(100%, -50%);

    //     &::before {
    //         height: 3.75rem;
    //         width: 0.75rem;
    //         top: 50%;
    //         left: -0.75rem;
    //         right: auto;
    //         transform: translate(0, -50%);
    //         background-image: url("../images/notify-pseudo-left.svg");
    //     }
    // }

    &__text {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 125%;
    }
}

.upload-field {
    width: 100%;
    transition: .5s;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 1.25rem;
        border: 2px dashed $gray2;
        border-radius: 0.75rem;
        cursor: pointer;
        gap: 0.75rem;

        &_uploaded {
            border: 2px dashed $primaryColor;
        }
    }

    &__text {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 125%;

        &_orange {
            font-weight: $bold;
            color: $primaryColor;
        }
    }

    &__formats {
        font-weight: $medium;
        font-size: 1rem;
        line-height: 125%;
        color: $gray5;
    }

    &:hover {
        opacity: 0.5;
    }
}

// New Company 

.new-company {

    .modal__wrapper {
        max-height: 100%;
        max-width: 53.62rem;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input-wrapper:hover .calendare {
        opacity: 1;
        visibility: visible;
    }

    .input-group {

        &_date {
            max-width: 100%;
        }
    }

    .modal__orange-btn {
        margin-top: 2rem;
    }
}

// New Template

.new-template {

    .modal__wrapper {
        max-width: 64.31rem;
        max-height: 100%;
        height: 52.44rem;
    }

    .modal__orange-btn {
        margin-top: 2rem;
    }
}

// Message Import

.message-import {

    .modal__wrapper {
        max-width: 47.56rem;
        max-height: 100%;
        height: 35.81rem;
    }

    &__textarea,
    &__checkbox {
        margin-bottom: 1.75rem;
    }
}

// Lending

.lending {

    .modal__wrapper {
        max-width: 46.62rem;
        max-height: 100%;
        height: 42.06rem;
    }

    .modal__buttons-wrapper {
        margin-top: 1.75rem;
    }

    &__hidden {
        margin-top: 1.75rem;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__hidden-checkbox {
        margin-bottom: 0.5rem;
    }

    &__warning {
        border-radius: 0.75rem;
        padding: 0.75rem 1.25rem;
        font-size: 0.88rem;
        line-height: 171%;
        background: $orange3;
        color: $orange4;

        &_bold {
            font-weight: $bold;
        }
    }

    &__hidden-section:not(:last-child) {
        margin-bottom: 1.75rem;
    }
}

// Profile Modal

.profile-modal {

    .modal__wrapper {
        max-width: 64.31rem;
        max-height: 100%;
        height: 33.94rem;
    }

    &__textarea,
    &__checkbox {
        margin-bottom: 1.75rem;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__buttons-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__test-message {
        @include btn(none, $primaryColor);
        outline: 2px solid $primaryColor;
        gap: 0.5rem;
        line-height: 125%;
        font-size: 1rem;
        padding: 1rem 1.25rem;
    }
}

// Test Message

.test-message {

    .modal__wrapper {
        max-width: 64.31rem;
        max-height: 100%;
        height: 24.44rem;
    }
}

// New User

.new-user {

    .modal__wrapper {
        max-width: 64.31rem;
        max-height: 100%;
        height: 40.19rem;
    }

    &__inputs-row {
        display: flex;
        justify-content: space-between;
        gap: 1.75rem;
        margin-bottom: 1.75rem;

        .input-group {
            width: 100%;
        }
    }

    &__checkbox {
        margin-bottom: 1.75rem;
    }
}

// Target Lessons

.target-lessons,
.set-cert {

    .modal__wrapper {
        max-width: 53.62rem;
        max-height: 100%;
        height: 32.31rem;
    }

    &__text {
        font-size: 1rem;
        margin-bottom: 1.75rem;
    }

    &__checkbox {
        margin-bottom: 1.75rem;
    }

    &__title {
        margin-bottom: 1rem;
    }
}

// Set Cert

.set-cert {

    .modal__wrapper {
        max-width: 53.62rem;
        max-height: 100%;
        height: 31.31rem;
    }

    .input-group {
        margin-bottom: 1.25rem;
    }

    &__text {
        margin-top: 1.75rem;
    }
}

// New Notify

.new-notify {

    &__title {
        margin-bottom: 1.5rem;
    }

    .new-notify__text {
        margin-bottom: 0.75rem;
    }
}

// Letter Theme

.letter-theme {

    .modal__wrapper {
        max-width: 46.38rem;
        max-height: 100%;
        height: 16.94rem;
    }

    &_body {

        .modal__wrapper {
            max-width: 46.38rem;
            max-height: 100%;
            height: 34.94rem;
        }

        .input-group {

            &__textarea {
                height: 21.25rem;
            }
        }
    }

    &__input {
        margin-bottom: 1.75rem;
    }

    &__copied {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
}

// Preview Modal

.preview-modal {
    
    &_full {

        .modal__wrapper {
            max-width: 59.5rem;
            max-height: 100%;
            height: 47.19rem;
        }

        .preview-modal__img {
            width: 100%;
            height: calc(100% - 2.5rem);
            object-fit: contain;
            object-position: center;
        }
    }
}

.click-pop-up {

    .input-group + * {
        opacity: 1;
        visibility: visible;
    }
}

// Media Queries

@media all and (max-width: 900px) {

    .modal {

        &__inputs-wrapper {
    
            &_two-column {
                grid-template-columns: 1fr;
                gap: 1rem;
            }
        }

        &__test-send-btn {
            width: 100%;
        }

        .input-group {

            &__inputs {
                width: 100%;
                flex-direction: column;
            }

            &__count {
                width: 100%;
            }
        }

        &__buttons-wrapper {
            flex-direction: column;
        }
    }

    .modal-input {

        &__buttons-wrapper {
            width: 100%;
            flex-direction: column;
        }
    }

    .modal__orange-btn,
    .modal__gray-btn {
        width: 100%;
    }

    .search-element {
        max-width: 100%;
    }

    .profile-modal {

        &__buttons {
            width: 100%;
            gap: 0.75rem;
            flex-direction: column;
        }

        &__buttons-wrapper {
            width: 100%;
            flex-direction: column;
        }

        &__test-message {
            width: 100%;
        }
    }

    .new-user {

        &__inputs-row {
            flex-direction: column;
            gap: 1rem;
        }
    }

}

@media all and (max-width: 600px) {

    .modal {
        padding: 1rem;

        .input-group {

            &_date {
                max-width: 100%;
            }

            &__input-row {
                flex-direction: column;
                gap: 1rem;
            }
        }

        &__test-send-btn,
        &__import-btn {
            width: 100%;

            svg {
                display: none;
            }
        }
    }

    .tabs {

        .tabs__btn {
            font-size: 0.88rem;
            line-height: normal;
            padding: 1.25rem 0.5rem;
        }
    }

}

@media all and (max-width: 500px) {

    .modal {
        
        &__wrapper {
            padding: 1.5rem;
        }

        &__skip-btn {
            top: 1.5rem;
            right: 1.5rem;
        }
    }

}