// Fonts Variables

$primaryFont: "Raleway";

$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #ff7800;
$secondaryColor: #ff7800;

$black: #000000;
$white: #ffffff;

$gray1: #444a4e;
$gray2: #dde5ec;
$gray3: #677075;
$gray4: #f8fafc;
$gray5: #9ca9af;
$gray6: #f8fafc;

$green1: #19ba93;
$green2: #d1f8ee;
$green3: #19ba93;
$yellow1: #ffb800;
$orange1: #ff7a00;
$orange2: #ffe9d6;
$orange3: #fff6de;
$orange4: #b07f00;
$orange5: rgba(255, 120, 0, 0.1);
$red1: #e7360f;
$red2: #ffe7e7;
$red3: #ffc9bd;
$blue1: #1170c7;
$blue2: #cae2f8;

// Container Variables

$containerWidth: 100%;
$containerPadding: 2.875rem;
$containerPaddingMobile: 1rem;
